@tailwind base;
@tailwind components;
@tailwind utilities;

.main-section-btn {
  @apply border-2 border-pink1 z-10 rounded-xl px-3 w-11/12 h-[56px] items-center py-2 text-left mt-2 mx-auto font-bold flex justify-between text-white;
}
.sub-section-btn {
  @apply border-2 border-pink1 z-10 rounded-lg px-3 w-11/12  items-center py-2 text-left mt-2 mx-auto font-bold flex justify-between text-white;
}

@layer utilities {
  .animation-delay-2s {
    animation-delay: 2s;
  }
  .animation-delay-4s {
    animation-delay: 4s;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(209 117 182 / 1); /* Color of the scrollbar handle */
  border-radius: 10px 10px 10px 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(209 117 182 / 2);
}
